<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GARDENING</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/logoofficial.png">
</head>
<body class="foto-fondo">


    <div ><a name="home"></a>
        <header>
            <div class="Nav">
                <nav class="header-format">
                    <ul class="nav-link">
                    <li><a href="#home"  title="HOME">HOME</a></li>
                    <li><a href="#Nosotros"  title="NOSOTROS">NOSOTROS</a></li>
                    <li><a href="#Servicios"  title="SERVICIOS">SERVICIOS</a></li>
                    <!--DROPDOWN-->
                    <li>
                        <a href="#plantas" title="PRODUCTOS">PLANTAS ↓</a>
                        <ul class="dropdown">
                            <li><a href="#Medicinales">Medicinales</a></li>
                            <li><a href="#Ornamentales">Ornamentales</a></li>
                        </ul>
                    </li>
                    <li><a href="#Contacto"  title="CONTACTO">CONTACTO</a></li>
                    </ul>
                    <div class="Position-Gardening">
                        <h4  class="Format-Gardening">GARDENING</h4>
                    </div>
                        <div class="format-logo">   
                        <div><div class="logo3"><img src="./assets/img/logoofficial.png" alt="texto1"></div>
                       </div>
                </nav>
            </div>
            </header> 
            
                <!--Baner-->
        <div > 
           <section>
            <a name="HOME"></a>
            
            <div class="slider">
                <ul>
                   
                    <div class="Position-Gardening3">
                        <h4 class="Format-Cuidado3">CUIDADO Y CONSERVACIÓN DEL AIRE</h4>
                        <h4 class="Format-Sebremos3">"Sembremos unidos para juntos conservar nuestra salud"</h4>
                        <h4 class="Format-Gardening3">- GARDENING -    
                        </h4>
                    </div>
                    
                    <li><img src="./assets/img/AloeVera.jpg" alt=""></li>
                    <li><img src="https://images.pexels.com/photos/4946905/pexels-photo-4946905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></li>
                    <li><img src="./assets/img/eucalipto.jpg" alt=""></li>
                    <li><img src="./assets/img/clavel.jpg" alt=""></li>
                    <li><img src="./assets/img/DienteDeLeon.jpg" alt=""></li>
                    <li><img src="./assets/img/pinos.jpg" alt=""></li>
                </ul>
               <div class="fondo-opacidad"></div>  
        
              
            </div>
                <div class="contenedor-MaquinaE">
                    <h1 class="titulo-principal">Centrada en plantas ornamentales y medicinales que aportan oxigeno.
                        <span class="subtitulo-principal">&#160;</span></h1>
                   </div>
        
           </section>
        
           <section>
            <a name="Nosotros"></a>
            <div class="cuadro1"> 
            
           <div id="ContentNos">
        
            <div class="pos1"> 
                
                <div class="Contenedor-titulo">
                    <p id="Ct-p">GARDENING</p>
                    <ul id="Ct-ul">
                        <li id="Ct-ul-li1">Plantas</li>
                        <li id="Ct-ul-li2">Ornamentales</li>
                        <li id="Ct-ul-li3">Medicinales</li>
                    </ul>
                </div>
                <img src="https://e1.pxfuel.com/desktop-wallpaper/644/708/desktop-wallpaper-green-leaf-backgrounds-yellow-green-leaves.jpg" alt="plantas ornamentales"  class="imgnos" />
            
            </div> 
        
                    <div class="text-position">
                    <h2 class="textnos">NOSOTROS</h2>
                    </div>
        
                               <article>
            
                                <div>
                                    <div class="format-MVV"><h3>MISIÓN</h3>
                                        <p class="format"> Buscamos promover la formacion y el conocimiento acerca de las plantas tanto ornamentales como medicinales para el saber de sus beneficios e importancia.</p>  </div>
                                    <div class="format-MVV"><h3>VISIÓN</h3>
                                        <p class="format"> Lograr la formación y el asesoramiento necesario para todo usuario de desarrollar su actividad dentro del mundo de la Jardinería y el Paisaje. </p>  </div>
                                    <div class="format-MVV"><h3>VALORES</h3>
                                        <p class="format">  Usabilidad, conocimiento, calidad, transparencia, responsavilidad, veracidad.</p>  </div>
                                </div>
            
                               </article>
            </div>
            
           </section>  <a name="Servicios"></a>
        
           <section>
           <article id="Position-Serv">
        
                        <div class="text-position">
                            <h2 class="textserv">SERVICIOS</h2></div>  
            
                        <div><h2 class="format-encabezado">Aprende a como cultivar plantas tanto ornamentales como medicinales</h2></div>
                        <div><p  class="format-serv">Con <strong>los siguientes videos</strong> podrás aprender más acerca de las plantas tanto medicinales como ornamentales y el como cultivarlas.</p><span class="hideText">
                                          
                            <div>
                                <p class="format-encabezado2"> - Aprende a cultivar plantas ornamentales: </p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/RuRoJf1nW-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="Video-format"></iframe>
                                
                                <p class="format-encabezado2"> - Aprende crear tu propio huerto cultivando plantas medicinales: </p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/THUd92oallA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="Video-format"></iframe> 
                            </div></span>
        
                            <div class="button-videos"><button class="read-more-btn" id="hideText-btn1">Ver Videos</button></div>
                        
                        </div>
        
                    </article>
        
                    <div id="conteItemCarrusel">
        
                        <div class="itemCarrusel" id="ItemCarrusel-1">
                        <div class="tarjetaCarrusel">
                            <img src="https://images.pexels.com/photos/6954544/pexels-photo-6954544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="Manzanilla">
                        </div>
                    <!-- https://blog.homedepot.com.mx/wp-content/uploads/2019/10/Portada_Principiantes_01.jpg -->
                    <div class="FlechCarrusel">
                        <a href="#ItemCarrusel-3">
                            <img src="./assets/img/LeftArrow.png" alt="Arrowleft" class="Arrow">
                        </a>
                        <a href="#ItemCarrusel-2">
                            <img src="./assets/img/RigthArrow.png" alt="ArrowRigth" class="Arrow">
                            </a>
                    </div>
                </div>
                
                    <div class="itemCarrusel" id="ItemCarrusel-2">
                        <div class="tarjetaCarrusel">
                            <img src="./assets/img/MANZA.jpg" id="Manzanilla">
                        </div>
                    
                    <div class="FlechCarrusel">
                        <a href="#ItemCarrusel-1">
                            <img src="./assets/img/LeftArrow.png" alt="Arrowleft" class="Arrow">
                        </a>
                        <a href="#ItemCarrusel-3">
                            <img src="./assets/img/RigthArrow.png" alt="ArrowRigth" class="Arrow">
                            </a>
                    </div>
                </div>
                
                
                
                <div class="itemCarrusel" id="ItemCarrusel-3">
                    <div class="tarjetaCarrusel">
                        <img src="https://images.pexels.com/photos/1233414/pexels-photo-1233414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="Manzanilla">
                    </div>
                
                <div class="FlechCarrusel">
                    <a href="#ItemCarrusel-2">
                        <img src="./assets/img/LeftArrow.png" alt="Arrowleft" class="Arrow">
                    </a>
                    <a href="#ItemCarrusel-1">
                        <img src="./assets/img/RigthArrow.png" alt="ArrowRigth" class="Arrow">
                        </a>
                </div>
                </div>
               
                     </div>
                     <div id="ContenedorPuntos">
                     <a href="#ItemCarrusel-1" id="FormatPuntos"></a>
                     <a href="#ItemCarrusel-2" id="FormatPuntos"></a>
                     <a href="#ItemCarrusel-3" id="FormatPuntos"></a>
                    </div> 
        
           </section>
        
           <div>
        
            <a name="plantas"></a>
            <a name="Medicinales"></a>
        <section id="Position-Plant">
            
        <div class="pos1"> 
            <div class="text-position">
            <h2 class="text-prod">PLANTAS</h2></div>
        
        <article>
           
                    <div><h4 class="text-medi">- Plantas Medicinales</h4></div>
                    <p class="format">Las hierbas medicinales (o remedios herbales) son plantas usadas como medicamento. Las personas las usan para ayudar a prevenir o curar una enfermedad. Las usan para aliviar síntomas, incrementar la energía, relajarse o perder peso.</p>
        
                    <!--Galeria-->
         
        <div class="ful-img" id="fulImgBox">
            <img src="./assets/img/AloeTienda.jpg" id="fulImg" alt="">
        <span onclick="closeImg()">X</span>
        </div> 
        
        <section id="Tienda">
        <h1 id="titulo-galeria">GALERIA</h1>
        <div class="linea"></div>
        
        <div class="container-items">
            
            <div class="item">
                <figure>
                    <img
                        src="https://www.publico.es/ahorro-consumo-responsable/wp-content/uploads/2022/11/aloevera1.jpg"
                        onclick="openFulImg(this.src)" alt="producto">
        
                </figure>
                <div class="info-product">
                    <h2>1. ALOE VERA: Piel Radiante</h2>
                    <p class="format">El aloe vera, muy habitual entre las plantas de interior, es una planta medicinal que tiene infinidad de aplicaciones en </p><span class="hideText"><p class="format">diversos remedios naturales, especialmente para los de la piel. Entre ellas, la de aliviar las quemaduras, rozaduras e, incluso, psoriasis y picaduras de insectos.</p></span>
                    
                    <button class="read-more-btn" id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2019/01/22/plantas-medicinales-valeriana_6340d15a_543x543.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>2. VALERIANA:  Reduce el estrés</h2>
                    <p class="format">La valeriana es una planta que disminuye la ansiedad y ayuda a dormir. </p><span class="hideText"><p class="format">Pero además, es buena para las diarreas, para reducir temblores leves, para aliviar el dolor de cabeza y el de la menstruación.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2021/02/07/encimera-con-alcachofas-y-agua-00447319-o_19832c30_1335x2000.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>3. ALCACHOFA: Elimina grasas</h2>
                    <p class="format">Destaca su gran aporte de calcio y fósforo, así como otros minerales como hierro,   </p><span class="hideText"><p class="format">potasio, magnesio y zinc. También su acción depurativa es muy conocida para ayudar a adelgazar, perder grasa y regular el colesterol.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2020/09/09/8e41872b81e317252ef586ea3a919bb8_5e1df3c8_564x376.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>4. AMAPOLA: Previene afecciones en la piel</h2>
                    <p class="format">Es una planta medicinal con propiedades curativas de la que se usan las semillas. </p><span class="hideText"><p class="format">Con estas semillas se consigue prevenir enfermedades cardiovasculares, anemias o afecciones de la piel.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2020/09/09/eucalipto-00485090_6552df71_1200x1800.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>5. EUCALIPTO: Alivia los síntomas del resfriado</h2>
                    <p class="format">Es una de las plantas que más usamos para decorar la casa. Son plantas muy resistentes  </p><span class="hideText"><p class="format">y perfectas para añadir a cualquier centro de mesa. Pero además de decorar el interior de nuestra casa, los eucaliptos son plantas medicinales muy beneficiosas para la salud. Entre sus propiedades más conocidas está la de aliviar los síntomas de los resfriados, en concreto afecciones respiratorias (tos, bronquitis, neumonía, asma...). </p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2021/02/07/plantas-medicinales-ginko_a57ec90c_399x600.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>6. GINKGO:Mejora la concentración</h2>
                    <p class="format">es una de las plantas curativas más conocidas. Se trata de una de las plantas medicinales más </p><span class="hideText"><p class="format">antiguas en Asia. Se cree que esta planta curativa es el árbol más antiguo que queda sobre la tierra. En cuanto a sus beneficios, esta planta cuenta propiedades antioxidantes que contribuyen a mejorar la concentración y la memoria.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.elmueble.com/medio/2020/09/08/lavanda_5b579ddc_967x1280.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>7. LAVANDA: Dulces Sueños</h2>
                    <p class="format">es un género de plantas de la familia de las lamiáceas. Mejora la calidad del sueño y ayuda </p><span class="hideText"><p class="format">a relajarnos en situaciones de estrés. Además de esto favorece la circulación, mejora el sistema respiratorio y tiene grandes propiedades cicatrizantes. Aunque también destaca por ser uno de los mejores repelentes naturales contra los mosquitos en verano.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
        
        </div> 
         <a name="Ornamentales"></a>
        
        </article>   
           </section>
        
        <div id="Position-Plant2">
        
         <article>
        
                    <div><h4 class="text-medi">- Plantas Ornamentales</h4></div>
        
                    <div>
        
                        <p class="format"> Cualquier aficionado a la jardinería o la decoración habrá oído numerosas veces mencionar las plantas ornamentales. Estas son un recurso muy valioso a la hora de embellecer cualquier espacio, pero quizás te sea difícil hacerte una idea concreta de qué es exactamente una planta ornamental. 
                            <br><br>
                            Si quieres aprender más acerca de ellas, acompáñanos en este artículo de <strong>GARDENING</strong> en el que verás una guía sobre qué son las plantas ornamentales, sus tipos, nombres e imágenes.
                        </p>  
                    </div>
        
                    
        <div class="ful-img" id="fulImgBox">
            <img src="./assets/img/AloeTienda.jpg" id="fulImg" alt="">
        <span onclick="closeImg()">X</span>
        
        </div> 
        
        <section id="Tienda">
        <h1 id="titulo-galeria">GALERIA</h1>
        <p id="formato-tipos">Tipos de plantas ornamentales:</p>
        <div class="linea"></div>
        
        <div class="container-items">
            <div class="item">
                <figure>
                    <img
                        src="./assets/img/pinos.jpg"
                        onclick="openFulImg(this.src)" alt="producto">
        
                </figure>
                <div class="info-product">
                    <h2>Árboles y arbustos</h2>
                    <p class="format">Son de las más comunes y populares, especialmente por su gran tamaño e impacto en la</p>
                    <span class="hideText"><p class="format"> impresión estética de los jardines y espacios naturales. Algunos arbustos son tan grandes como árboles de pequeño tamaño.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://img.freepik.com/foto-gratis/textura-campo-cesped_1232-251.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Césped y tapizantes</h2>
                    <p class="format">Se considera césped, grama o pasto, a las plantas de la familia Poaceae que, al crecer, forman </p><span class="hideText"><p class="format">una cubierta densa que cubre el suelo por completo. Se usan a menudo para homogeneizar el paisaje y dar una sensación más natural. En su lugar, también pueden usarse plantas tapizantes, que son rastreras que cumplen su misma función pero ofrecen aspectos y características distintas.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://cdn0.ecologiaverde.com/es/posts/7/6/2/cempasuchil_tagetes_erecta_4267_2_600.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Anuales</h2>
                    <p class="format">Las plantas anuales completan todo su ciclo vital en un solo año. Tienden a ser plantas </p><span class="hideText"><p class="format">ornamentales de flores muy llamativas y coloridas, aunque, como hemos dicho, se marchitan en una sola temporada.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.jardineriaon.com/wp-content/uploads/2015/10/bulbosas.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Bulbosas</h2>
                    <p class="format">Este tipo de plantas cuenta con un órgano subterráneo que les sirve como reserva de nutrientes, </p><span class="hideText"><p class="format">y desde él pueden volver a crecer cada año cuando las condiciones son adecuadas. Son muy comunes las plantas de bulbos con flor de este tipo, que secan su parte aérea en invierno para volver a crecer en los meses cálidos.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.hola.com/imagenes/decoracion/20211230202142/cultivar-palmeras-exterior-mc/1-36-318/cuidados-palmeras-exterior-e.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Palmeras</h2>
                    <p class="format">Las palmeras están disponibles en todo tipo de tamaños y formas, pero destacan por ser </p><span class="hideText"><p class="format">plantas tropicales muy fáciles de cuidar que dan un toque exótico a espacios tanto de interior como de exterior.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.florescastillon.com/wp-content/uploads/2014/04/helechos1.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Helechos</h2>
                    <p class="format">Los helechos son plantas sin flores muy primitivas, pero que por ello resultan también </p><span class="hideText"><p class="format">exóticas. Destacan por su follaje denso y abundante, que los hace muy adecuados como plantas colgantes en algunas de sus especies.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.estiloydeco.com/wp-content/uploads/2020/07/plantas-enredaderas-y-trepadoras-interior-3.jpg"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Trepadoras</h2>
                    <p class="format">Las trepadoras son plantas con la capacidad de crecer apoyadas o sujetas a superficies </p><span class="hideText"><p class="format">de todo tipo como muros, fachadas, árboles o estructuras como pérgolas. Las hay de muchos tipos, y son muy populares para cubrir de verde superficies que habitualmente no lo estarían.</p></span>
                    
                    <button class="read-more-btn"  id="hideText_btn">Leer Más</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img
                        src="https://www.verdeesvida.es/inc/timthumb.php?src=/files/reportage/25072013133245_iStock_Nenufar%20Aimin%20Tang.jpg&w=800"
                        onclick="openFulImg(this.src)"
                        alt="producto"
                    />
                </figure>
                <div class="info-product">
                    <h2>Acuaticas</h2>
                    <p class="format">En acuarios, estanques o adornos con agua de cualquier tipo, las plantas acuáticas son muy </p><span class="hideText"><p class="format">valiosas para dar un toque natural, así como las algas. </p></span>
                    
                    <button class="read-more-btn" id="hideText_btn">Leer Más</button>
                </div>
            </div>
        </div>
        </div>     
        </article> 
        </div>
        
        <script src="./assets/js/index.js"></script>
        <script src="./assets/js/script.js"></script> 
        
           </div>
                
             <aside id="Position-aside">
        
                <img src="./assets/img/ANUNCIO-GARDENINIG2.gif" class="Anuncio-Gardening"> 
                <img src="https://media.tenor.com/DkEA8Sfti4QAAAAC/coca-cola-beverage.gif" class="coca"> 
        
            </aside>
            
        
                    <footer id="Position-Contact">
                        
                    <a name="Contacto"></a>
                        <div class="pos1"> 
                            <div class="Contact-Padre">
                                <h2 class="text-contact">CONTACTO</h2>
        
                                <div class="posicion">
                                    <div id="posicion-imagen1"><img src="https://icones.pro/wp-content/uploads/2021/02/icone-du-logo-whatsapp-vert.png" alt="w" class="tamano"><p>809-590-8372</p></div>
                                    <div id="posicion-imagen2"><img src="https://hazietaikasi.org/wp-content/uploads/2020/02/new-instagram-logo-png-transparent-light-1024x1024.png"alt="int"class="tamano"><p>GardeningRD<p></p></div>
                                    <div id="posicion-imagen3"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" alt="tw" class="tamano"><p>GardeningOfficial00</p></div>
                                </div>
            
                            </div>
                                <div class="cta-contact">
                                    <a  href="contacts" target="_blank">
                                <button class="boton">
                                    <span>Contáctanos</span>
                                </button>
                                    </a>
                                </div>
                        </div>
                    </footer>
                     
                </article>
            </section>
        </div>
         

    
</body>
</html>