<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos - GARDENING</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/logoofficial.png">
</head>
<body class="foto-fondo"> 
    
    <header>
        <div class="Nav">
            <nav class="header-format">
                <ul class="nav-link">
                <li><a href="/"  title="HOME">HOME</a></li>
                <li><a href="#Nosotros"  title="NOSOTROS">NOSOTROS</a></li>
                <li><a href="#Servicios"  title="SERVICIOS">SERVICIOS</a></li>
                <!--DROPDOWN-->
                <li>
                    <a href="#plantas" title="PRODUCTOS">PLANTAS ↓</a>
                    <ul class="dropdown">
                        <li><a href="#Medicinales">Medicinales</a></li>
                        <li><a href="#Ornamentales">Ornamentales</a></li>
                    </ul>
                
                </li>
       
                <li><a href="contacts"  title="CONTACTO">CONTACTO</a></li>
                </ul>
       
                <div class="Position-Gardening">
                    <h4  class="Format-Gardening">GARDENING</h4>
                </div>
                    <div class="format-logo">   
                    <div><div class="logo3"><img src="./assets/img/logoofficial.png" alt="texto1"></div>
                   </div>
            </nav>
        </div>
         
        </header> 
           
       
       <section>
           <div class="caja">
       
               <article class="Fondo-contact">
       
                   <div class="pos1"> 
                       <div x>
                           <div class="titulo-contact-form"><h2 class="text-cont">CONTACTO</h2></div>
                           
                       </div>
                   <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15135.016973585853!2d-69.9696483012765!3d18.494787849390566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf8989854ce87b%3A0x5d53d7acd21d4bfb!2sJardin%20Botanico%2C%20Santo%20Domingo!5e0!3m2!1ses-419!2sdo!4v1679771771610!5m2!1ses-419!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
       
                   <div class=" formulario">
                       <H2>CONTÁCTANOS</H2>
       
                       <form action="">
                           <p>Nombre:</p>
                           <input type="text" class="field" ><br/>
       
                           <form action="">
                               <p>Correo electrónico:</p>
                               <input type="text" class="field" ><br/>
       
                               <form action="">
                                   <p>Asunto:</p>
                                   <input type="text" class="field" ><br/>
       
                                   <form action="">
                                       <p>Mensaje:</p>
                                       <textarea class="field"></textarea> <br/>
                                       
                       
                                       <div class="button-Contact1"><button class="read-more-btn" id="hideText-btn1">Enviar</button></div>
       
                   </form>
       
                   </div></div>
               </article>
           </div>
       
       </section>
</body>
</html>